@model UsersViewModel

@{
    ViewBag.Title = "Eliminar Usuario";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>

<div class="well">
    @using (Html.BeginForm())
    {
        <fieldset class="create">
            <legend>¿Esta seguro que desea eliminar este usuario?</legend>
            <div class="row">
                <div class="panel panel-success col-sm-4">
                    <div class="panel-heading">
                        <h3 class="panel-title">@Html.LabelFor(model => model.Nombre)</h3>
                    </div>
                    <div class="panel-body">
                        @Html.DisplayFor(model => model.Nombre)
                    </div>
                </div>
                <div class="panel panel-success col-sm-4">
                    <div class="panel-heading">
                        <h3 class="panel-title">@Html.LabelFor(model => model.Roles)</h3>
                    </div>
                    <div class="panel-body">
                        @Html.DisplayFor(model => model.Roles)
                    </div>
                </div>
                <div class="panel panel-success col-sm-4">
                    <div class="panel-heading">
                        <h3 class="panel-title">@Html.LabelFor(model => model.NOMBRE_USUARIO)</h3>
                    </div>
                    <div class="panel-body">
                        @Html.DisplayFor(model => model.NOMBRE_USUARIO)
                    </div>
                </div>
            </div>
            <div class="col-sm-12 row form-group">
                <input type="submit" value="Eliminar" class="delete btn btn-primary ml2" />
                @Html.ActionLink("Cancelar", "Index", null, new { @class = "btn btn-default" })
            </div>
        </fieldset>
    }
</div>
