@model IEnumerable<UsersViewModel>

@{
    ViewBag.Title = "Usuarios Registrados";
}

<div class="row">
    <div class="col-lg-12">
        <hgroup class="title"></hgroup>
        <div class="well">
            <fieldset>
                <legend>Usuarios Registrados</legend>
                <div class="form-group col-lg-12 pr0">
                    <p class="">
                        @Html.ActionLink("Nuevo", "Create", null, new { @class = "btn btn-success  fr mb10" })
                    </p>
                </div>
                <div class="table-responsive">
                    <table class="table usersTable table-striped table-bordered table-hover">
                        <thead>
                            <tr class="success">
                                <th>
                                    @Html.DisplayNameFor(model => model.NOMBRE_USUARIO)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Nombre)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Roles)
                                </th>
                                <th>Opciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.NOMBRE_USUARIO)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Nombre)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Roles)
                                    </td>
                                    <td>
                                        @Html.ActionLinkImage("pencil", "Edit", "Editar", new { id = item.Id }, new { @class = "iconLink editAction", data_url = @Url.Action("Edit", "Users", new { id = item.Id }) }) &nbsp;
                                        @Html.ActionLinkImage("remove-sign", "Delete", "Eliminar", new { id = item.Id }, new { @class = "iconLink deleteAction", data_url = @Url.Action("Delete", "Users", new { id = item.Id }) })
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </fieldset>
        </div>
    </div>
</div>
@section Scripts{
    <script>
        $(document).ready(function () {
        });
    </script>
}
