@model IEnumerable<PFD_LOG>


<div class="modal modal-wide fade" id="logModal" tabindex="-1" data-backdrop="static" data-keyboard="false" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Ejecuciones del Formulario registradas.</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="form-group col-sm-12">
                        <div class="table-responsive">
                            <table class="table dynamicTable table-striped table-bordered table-hover">
                                <thead>
                                    <tr class="success">
                                        <th>
                                            @Html.DisplayNameFor(model => model.ID_USUARIO)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.ID_PROCEDIMIENTO)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.CODIGO_RESPUESTA)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.FECHA)
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.PFD_USUARIOS.DisplayName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.PFD_PROCEDIMIENTOS.NOMBRE)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.CODIGO_RESPUESTA)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.FECHA)
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>

    </div>
</div>