@model DGII_PFD.Models.PFD_PROCEDIMIENTOS

@{
    ViewBag.Title = "Ver Detalles ";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>

<div class="well">
    <div class="">
        @using (Html.BeginForm())
        {
            <fieldset class="create">
                <legend>Datos del Formulario</legend>
                <div class="row">
                    <div class="panel panel-success col-sm-6">
                        <div class="panel-heading">
                            <h3 class="panel-title">@Html.LabelFor(model => model.NOMBRE)</h3>
                        </div>
                        <div class="panel-body">
                            @Html.DisplayFor(model => model.NOMBRE)
                        </div>
                    </div>
                    <div class="panel panel-success col-sm-6">
                        <div class="panel-heading">
                            <h3 class="panel-title">@Html.LabelFor(model => model.PROCEDIMIENTO)</h3>
                        </div>
                        <div class="panel-body">
                            @(Model.PROCEDIMIENTO.ToUpper())
                        </div>
                    </div>
                    <div class="panel panel-success col-sm-6">
                        <div class="panel-heading">
                            <h3 class="panel-title">@Html.LabelFor(model => model.DESCRIPCION)</h3>
                        </div>
                        <div class="panel-body">
                            @Html.DisplayFor(model => model.DESCRIPCION)
                        </div>
                    </div>
                    <div class="panel panel-success col-sm-6">
                        <div class="panel-heading">
                            <h3 class="panel-title">@Html.LabelFor(model => model.HABILITADO)</h3>
                        </div>
                        <div class="panel-body">
                            @((Model.HABILITADO == 1) ? "SI" : "NO")
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="table-responsive">
                        @{ var pModel = new ParameterViewModel(); }
                        <div class="col-sm-12">
                            <table class="table table-bordered table-striped table-hover parametersTable">
                                <thead>
                                    <tr class="success">
                                        <th>@Html.DisplayNameFor(m => pModel.NOMBRE)</th>
                                        <th>@Html.DisplayNameFor(m => pModel.PARAMETRO)</th>
                                        <th>@Html.DisplayNameFor(m => pModel.REQUERIDO)</th>
                                        <th>@Html.DisplayNameFor(m => pModel.TIPO)</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.PFD_PARAMETROS)
                                    {
                                        <tr>
                                            <td>@Html.DisplayFor(m => item.NOMBRE)</td>
                                            <td>@Html.DisplayFor(m => item.PARAMETRO)</td>
                                            <td>@((item.Required) ? "SI" : "NO")</td>
                                            <td>@(((DataTypes)((int)item.TIPO)).ToString().Replace('_', ' '))</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    @Html.ActionLink("Editar", "Edit", new { id = Model.ID }, new { @class = "delete btn btn-primary ml2" })
                    @Html.ActionLink("Regresar", "Index", null, new { @class = "btn btn-default" })
                </div>
            </fieldset>
        }
    </div>
</div>