@using SIGEC.Models

@model Doctor

@{
    ViewBag.Title = _("Doctor_Details");
}

<hgroup class="title">
    <h1><img alt="doctor_picture" src="~/Images/doctors.png" />@ViewBag.Title.</h1>
    <h2></h2>
</hgroup>

<div class="well">
    <div class="col-lg-12">
        @using (Html.BeginForm())
        {
            <fieldset>
                <legend>@_("Doctor_EditLegend")</legend>
                <h4 class="section-subtitle">@_("lbl_PersonInfo")</h4>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">@Html.LabelFor(model => model.User.firstName)</h3>
                            </div>
                            <div class="panel-body">
                                @Html.DisplayFor(model => model.User.firstName)
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">@Html.LabelFor(model => model.User.lastName)</h3>
                            </div>
                            <div class="panel-body">
                                @Html.DisplayFor(model => model.User.lastName)
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">@Html.LabelFor(model => model.User.dni)</h3>
                            </div>
                            <div class="panel-body">
                                @Model.User.dni.CFormat("dni")
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">@Html.LabelFor(model => model.User.bornDate)</h3>
                            </div>
                            <div class="panel-body">
                                @Html.DisplayFor(model => model.User.bornDate)
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">@Html.LabelFor(model => model.User.email)</h3>
                            </div>
                            <div class="panel-body">
                                @Html.DisplayFor(model => model.User.email)
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">@_("lblSpeciality")</h3>
                            </div>
                            <div class="panel-body">
                                @Html.DisplayFor(model => model.speciality)
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">@Html.LabelFor(model => model.User.maritalStatus)</h3>
                            </div>
                            <div class="panel-body">
                                @_((((MaritalStatus)Convert.ToChar(Model.User.maritalStatus)).ToString()))
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">@Html.LabelFor(model => model.User.gender)</h3>
                            </div>
                            <div class="panel-body">
                                @_((((Genders)Convert.ToChar(Model.User.gender)).ToString()))
                            </div>
                        </div>
                    </div>
                </div>

                <h4 class="section-subtitle">@_("lblUserContact")</h4>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">@Html.LabelFor(model => model.User.Address.country)</h3>
                            </div>
                            <div class="panel-body">
                                @Html.DisplayFor(model => model.User.Address.country)
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">@Html.LabelFor(model => model.User.Address.city)</h3>
                            </div>
                            <div class="panel-body">
                                @Html.DisplayFor(model => model.User.Address.city)
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">@Html.LabelFor(model => model.User.Address.municipality)</h3>
                            </div>
                            <div class="panel-body">
                                @Html.DisplayFor(model => model.User.Address.municipality)
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">@Html.LabelFor(model => model.User.Address.sector)</h3>
                            </div>
                            <div class="panel-body">
                                @Html.DisplayFor(model => model.User.Address.sector)
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">@Html.LabelFor(model => model.User.Address.street)</h3>
                            </div>
                            <div class="panel-body">
                                @Html.DisplayFor(model => model.User.Address.street)
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">@Html.LabelFor(model => model.User.Address.number)</h3>
                            </div>
                            <div class="panel-body">
                                @Html.DisplayFor(model => model.User.Address.number)
                            </div>
                        </div>
                    </div>
                </div>

                <h4>@_("lblPhones")</h4>
                <div class="row">
                    <div class="form-group col-lg-12 scroll">
                        <table class="defaultTable table table-striped table-bordered table-hover">
                            @{ Phone p = new Phone(); }
                            <thead>
                                <tr>
                                    <th>@Html.DisplayNameFor(model => p.number)</th>
                                    <th>@Html.DisplayNameFor(model => p.type)</th>
                                    <th>@Html.DisplayNameFor(model => p.notes)</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.User.Phones)
                                { 
                                    <tr>
                                        <td>@item.number.CFormat("phone")</td>
                                        <td>@_(((PhoneTypes)item.type).ToString())</td>
                                        <td>@item.notes</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                @if (isEmployee || isAdmin || isDoctor)
                {
                    <h4 class="section-subtitle">@_("lblSystemInfo")</h4>
                 
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">@Html.Label(_("lblStatus"))</h3>
                                </div>
                                <div class="panel-body">
                                    @_((Model.User.status) ? "MActive" : "MInactive")
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">@Html.LabelFor(model => model.User.username)</h3>
                                </div>
                                <div class="panel-body">
                                    @Html.DisplayFor(model => model.User.username)
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">@Html.LabelFor(model => model.User.createDate)</h3>
                                </div>
                                <div class="panel-body">
                                    @Html.DisplayFor(model => model.User.createDate)
                                </div>
                            </div>
                        </div>
                    </div>
                }
                <div class="col-lg-12 row">
                    @Html.AuthorizeActionLink(menu, _("lblEdit"), "Edit", "Doctors", new { id = Model.ID }, new { @class = "btn btn-primary col-lg-2 ml2" })
                    @Html.ActionLink(_("lblCancel"), "Index", null, new { @class = "btn btn-default col-lg-2 ml3" })
                </div>
            </fieldset>
        }
    </div>
</div>
