@model SIGEC.Models.ViewModels.PatientViewModel

@{
    var patients = (IEnumerable<SIGEC.Models.Patient>)ViewBag.patients;
    var user = new SIGEC.Models.User();
}
<div class="col-lg-12">
    <div class="row">
        <div class="col-lg-12">
            <label class="mb20">@Html.CheckBox("generalSearch", false) @_("lblGeneralSerchOn")</label>
        </div>
    </div>
    <div class="row dni">
        <div class="form-group col-lg-6">
            @Html.CLabelFor(model => model.dni)
            <div class="input-group">
                @Html.CTextBoxFor(model => model.dni, new { @class = "dni" })
                <label for="patientID" class="input-group-addon btn startSearch">
                    <i class="glyphicon glyphicon-search" title="@_("lblSearch")" data-toggle="tooltip"></i>
                </label>
            </div>
            @Html.CValidationMessageFor(model => model.dni)
        </div>
    </div>
    <div class="row general dn">
        <div class="form-group scroll form_table col-lg-12">
            <table class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => user.createDate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => user.dni)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => user.firstName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => user.lastName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => user.gender)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => user.username)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in patients)
                    {
                        <tr id="@item.ID">
                            <td>
                                @Html.DisplayFor(modelItem => item.UserAccount.createDate)
                            </td>
                            <td>
                                @(item.UserAccount.dni.CFormat("dni"))
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.UserAccount.firstName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.UserAccount.lastName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.UserAccount.gender)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.UserAccount.username)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    @Html.Hidden("pID", 0)
    <div class="psData dn">
        <h4 class="section-subtitle">@_("Patients_EditLegend")</h4>
        <div class="row">
            <div class="form-group col-lg-4">
                @Html.CLabelFor(model => model.firstName)
                @Html.CTextBoxFor(model => model.firstName)
            </div>
            <div class="form-group col-lg-4">
                @Html.CLabelFor(model => model.lastName)
                @Html.CTextBoxFor(model => model.lastName)
            </div>
            <div class="form-group col-lg-4">
                @Html.CLabelFor(model => model.username)
                @Html.CTextBoxFor(model => model.username)
            </div>
        </div>
    </div>
</div>
