@model SIGEC.Models.Appointment

@{
    ViewBag.Title = _("Appointments_Delete");
}

<hgroup class="title">
    <h1><img src="~/Images/appointments.png" />&nbsp;@ViewBag.Title.</h1>
    <h2></h2>
</hgroup>

<div class="well">
    <div class="col-lg-12">
        @using (Html.BeginForm())
        {
            <fieldset>
                <legend>@_("Appointments_EditLegend")</legend>
                <div class="row">
                    @if (isEmployee)
                    { 
                        <div class="col-lg-4">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">@Html.LabelFor(model => model.patientID)</h3>
                                </div>
                                <div class="panel-body">
                                    @Html.DisplayFor(model => model.Patient.UserAccount.CompleteName)
                                </div>
                            </div>
                        </div>
                    }
                    <div class="col-lg-4">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">@Html.LabelFor(model => model.doctorID)</h3>
                            </div>
                            <div class="panel-body">
                                @Html.DisplayFor(model => model.Doctor.User.CompleteName)
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">@Html.LabelFor(model => model.appointmentDate)</h3>
                            </div>
                            <div class="panel-body">
                               @* @Model.appointmentDate.Add(Model.Doctor.AppointmentRules.ElementAt(0).consultationStart).ToString()*@
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 row form-group">
                    <input type="submit" value="@_("lblDelete")" class="btn btn-danger col-lg-2 ml2" />
                    @Html.ActionLink(_("lblCancel"), "Index", null, new { @class = "btn btn-default col-lg-2" })
                </div>
            </fieldset>
        }
    </div>
</div>
