@model IDictionary<string, object>
@{
    ViewBag.Title = "DynamicObj";
}

<hgroup>
    <h2>Dynamic Property Example</h2>
</hgroup>

<div class="well">
    <div class="row">
        <div class="table-responsive col-md-12">
            <table class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Key</th>
                        <th>Value</th>
                        <th>Options</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Key</td>
                            <td>@item.Value</td>
                            <td>@Html.ActionLink("Delete", "DeleteObj", "Examples", new { key = item.Key }, null)</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="row">
            <label>&nbsp;</label>
            <label>&nbsp;</label>
        </div>
        <div class="row col-md-12">
            @using (Html.BeginForm("AddObj", "Examples"))
            {
                <h4 class="col-md-12">Add Property</h4>
                <div class="form-group col-md-6">
                    @Html.Label("Key")
                    @Html.CTextBox("Key")
                </div>

                <div class="form-group col-md-6">
                    @Html.Label("Value")
                    @Html.CTextBox("Value")
                </div>
                <div class="form-group col-md-12">
                    <input type="submit" value="Add" class="btn btn-primary" />
                </div>
            }
        </div>
    </div>
</div>
