@{
    ViewBag.Title = "Index";
}

<hgroup>
    <h2>Features and Examples</h2>
</hgroup>


<div class="well">
    <div class="row">
        <div class="col-md-4">
            <h4>Postback responses</h4>
            @Html.ActionLink("Success", "Success", null, new { @class="btn btn-primary col-md-3 ml2" })
            @Html.ActionLink("Error", "Error", null, new { @class = "btn btn-danger col-md-3 ml2" })
            @Html.ActionLink("Ajax", "Ajax", null, new { @class = "btn btn-danger ajaxLink col-md-3" })
        </div>

        <div class="col-md-4">
            <h4>Tables</h4>
            @Html.ActionLink("Table Examples", "Tables")
        </div>
        <div class="col-md-4">
            <h4>Dynamic Repository Object</h4>
            @Html.ActionLink("See Example", "DynamicObj")
        </div>
        <div class="clearfix visible-md"></div>
    </div>
</div>


@section Scripts{
    <script>
        $(document).ready(function () {
            $.fn.Examples();
        });
    </script>
}