<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/DataTables-1.10.4/css/sytles")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Examples", "Index", "Examples")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div id="spinner" class="spinner ajaxSpinner dn">
    </div>
    <div id="spinner" class="spinner pageloadSpinner">
    </div>
    @if (TempData["Message"] != null)
    {
        @Html.Hidden("ResultMessage", (string)TempData["Message"])
        @Html.Hidden("MessageCode", (int)TempData["MessageCode"])
    }
    <div id="holder" class="container">
        @RenderSection("featured", required: false)
        @RenderBody()
    </div>
    <div id="footer" class="">
        <footer>
            <div id="footer-content" class="content-wrapper">
                <div class="float-left">
                    @Html.ActionLink("Application name", "Index", "Home", null, new { @class = "navbar-brand pl0" })
                    <p class="fr foot">&copy; @DateTime.Now.Year - Application name</p>
                </div>
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/datatables")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/extensions")
    @RenderSection("scripts", required: false)
</body>
</html>
