@model DGII_PFD.Models.PFD_PROCEDIMIENTOS

@{
    ViewBag.Title = "Detalle del Procedimiento";
}

<h2>Detalles del Procedimiento "@Html.DisplayFor(model => model.NOMBRE)"</h2>
<div class="well">
    <div class="row">
        <div class="col-sm-12">
            <ul class="list-group">
                <li class="list-group-item active">
                    Descripción
                </li>
                <li class="list-group-item">
                    <p class="text-info">
                        @Html.DisplayFor(model => model.DESCRIPCION)
                    </p>
                </li>

            </ul>
        </div>

    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-primary" style="border:none">
                <div class="panel-heading">
                    <h3 class="panel-title">Parametros del procedimiento</h3>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped table-hover">
                            <thead>
                                <tr class="success">
                                    <th>
                                        @Html.DisplayName("NOMBRE")
                                    </th>
                                    <th>
                                        @Html.DisplayName("PARAMETRO")
                                    </th>
                                    <th>
                                        @Html.DisplayName("TIPO")
                                    </th>
                                    <th>
                                        @Html.DisplayName("REQUERIDO")
                                    </th>
                                </tr>
                            </thead>

                            <tbody>
                                @foreach (var item in Model.Parametros)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.NOMBRE)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.PARAMETRO)
                                        </td>
                                        <td>
                                            @Html.CustomTypeLabel(item.TIPO)

                                        </td>
                                        <td>
                                            @Html.CustomBoolLabel(item.REQUERIDO)
                                        </td>
                                    </tr>
                                }

                            </tbody>

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>