@model DGII_PFD.Models.PFD_PROCEDIMIENTOS
@using DGII_PFD.Helpers;

@{
    int tipo;
    bool requerido;
    string simboloRequerido = "";
    ViewBag.Title = "Ejecutar Procedimiento";
}

<h2>Ejecución de procedimiento.</h2>

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Acción/Procedimiento: @Html.Label(Model.NOMBRE)</h3>
    </div>
    <div class="panel-body">


        @using (Html.BeginForm("Ejecutar", "Procedimientos", FormMethod.Post, new { @id = "procedureForm", @role = "form", @class = "executeProcedureForm", @enctype = "multipart/form-data" }))
        {

            @Html.HiddenFor(m => m.NOMBRE)
            @Html.HiddenFor(m => m.ID)
            @Html.HiddenFor(m => m.ESTANDARIZADO)
            @Html.HiddenFor(m => m.PROCEDIMIENTO, new { @class = "ignore" })


            for (int i = 0; i < Model.Parametros.Count(); i++)
            {
                tipo = Convert.ToInt32(Model.Parametros[i].TIPO);
                requerido = Convert.ToBoolean(Model.Parametros[i].REQUERIDO);
                simboloRequerido = requerido == true ? "*" : "";

                @Html.HiddenFor(m => Model.Parametros[i].ID)
                @Html.HiddenFor(m => Model.Parametros[i].TIPO)
                @Html.HiddenFor(m => Model.Parametros[i].NOMBRE)
                @Html.HiddenFor(m => Model.Parametros[i].PARAMETRO)
                @Html.HiddenFor(m => Model.Parametros[i].REQUERIDO)


                <div class="form-group col-sm-6">

                    @Html.Label(string.Format("Parametros[{0}].VALOR", i), Model.Parametros[i].NOMBRE + simboloRequerido, new { @class = "control-label" })

                    @Html.CustomEditorFor(m => Model.Parametros[i].VALOR, tipo, requerido)
                    @Html.CValidationMessageFor(m => Model.Parametros[i].VALOR)

                   
                </div>
                if (i % 2 != 0 && i > 0)
                {
                    <div class="clearfix col-sm-12"></div>
                }
            }

            <div class="row">
                <div class="form-group col-sm-12 container">
                    &nbsp;&nbsp;&nbsp;
                    <button type="submit" class="btn btn-primary">Ejecutar Procedimiento</button>
                    @Html.ActionLink("Cancelar", "Index", null, new { @class = "btn btn-default" })

                </div>
            </div>

        }
    </div>
    <div class="panel-footer">
        <p>
            <small><strong>* Campo Obligatorio</strong></small>
        </p>

        <strong>Descripción del procedimiento:</strong>
        <p>
            <samp>
                @Model.DESCRIPCION
            </samp>
        </p>


    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $.fn.ExecuteProcedureFn();
        });
    </script>
}
