@model IEnumerable<DGII_PFD.Models.PFD_PROCEDIMIENTOS>

@{
    ViewBag.Title = "Lista de Acciones/Procedimientos disponibles";
}

<div class="page-header">
    <h1><small>Acciones/Procedimientos disponibles.</small></h1>
</div>

<div class="panel panel-default well">
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-bordered table-striped table-hover">
                <thead>
                    <tr class="success">
                        <th>
                            @Html.DisplayName("NOMBRE DEL PROCEDIMIENTO")
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.DESCRIPCION)
                        </th>

                        <th>OPCIONES</th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.NOMBRE)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DESCRIPCION)
                            </td>

                            <td>
                                @*<a href="@Url.Action("DetalleProcedimiento", new { id = item.ID })" class="iconLink linkDetalle">
                                        <i class="glyphicon glyphicon-eye-open"></i>
                                        <span class="sr-only">Ver Detalles</span>
                                    </a>
                                    <a href="@Url.Action("EjecutarProcedimiento", new { id = item.ID })" class="iconLink linkEjecutar">
                                        <i class="glyphicon glyphicon-play-circle"></i>
                                        <span class="sr-only">Ejecutar Procedimiento</span>
                                    </a>*@
                                @Html.ActionLinkImage("eye-open", "DetalleProcedimiento", "Ver Detalles", new { id = item.ID }, new { @class = "iconLink linkDetalle" })
                                @Html.ActionLinkImage("play-circle", "EjecutarProcedimiento", "Ver Detalles", new { id = item.ID }, new { @class = "iconLink linkEjecutar" })
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>

@if (TempData["Resultado"] != null)
{
    MensajeResultado mensaje = (MensajeResultado)TempData["Resultado"];
    @Html.Hidden("codigoRespuesta", mensaje.codigo)
    @Html.Hidden("mensajeRespuesta", mensaje.mensaje)
}