@using SIGEC.Code52.i18n

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="@CultureHelper.GetCurrentCulture()">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - SIGEC</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/bootstrapmodal")
    @Styles.Render("~/Content/themes/base/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/DataTables-1.9.4/media/css/css")
</head>
<body>
    @Html.Partial("_NavBar")
    <div id="holder" class="container">
        @RenderSection("featured", required: false)
        @RenderBody()
    </div>
    <div id="footer" class="">
        <footer>
            <div id="footer-content" class="content-wrapper">
                <div class="float-left">
                     @Html.ActionLink("SIGEC", "Index", "Home", null, new { @class = "navbar-brand pl0" })
                    <p class="fr foot">&copy; @DateTime.Now.Year - SIGEC, @_("lblFooterRights"). UASD</p>
                </div>
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    @Scripts.Render("~/bundles/globalize")
    @Scripts.Render("~/bundles/jquery_cookie")
    <script src="@Url.Content(string.Format("~/Scripts/globalize/cultures/globalize.culture.{0}.js", CultureHelper.GetCurrentCulture()))"></script>
    <script src="@Url.Content("~/Scripts/Code52.i18n.js")"></script>
    <script src="@Url.Content("~/Language/Language")"></script>
    <script type="text/javascript">
        Code52.Language.Init('@CultureHelper.GetCurrentCulture()');    
    </script>
    @Scripts.Render("~/bundles/chosen")
    @Scripts.Render("~/bundles/maskedinput")
    @Scripts.Render("~/bundles/datatables")
    <script src="~/Scripts/jquery.maskMoney.js"></script>
    <script src="~/Scripts/jquery.mask.js"></script>
    @Scripts.Render("~/bundles/timepicker")
    @Scripts.Render("~/bundles/js")
     @Scripts.Render("~/bundles/foolprof")
</body>
</html>
