@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = _("Error_Title");
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2></h2>
</hgroup>

<div class="well">
    <div class="col-lg-12">
        @using (Html.BeginForm())
        {
            <fieldset>
                <legend>@_("Error_Legend")</legend>
                <h4 class="section-subtitle">@_("lblErrorDetails")</h4>
                <div class="row">
                    <div class="form-group col-lg-6">
                    </div>
                </div>
                @if (!isPatient && WebSecurity.IsAuthenticated)
                {
                    <div class="row">

                        <div class="form-group panel panel-default col-lg-12">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#stackTrace">
                                        @_("lblErrorExceptionDetails")
                                    </a>
                                </h4>
                            </div>
                            <div id="stackTrace" class="panel-collapse collapse">
                                <div class="panel-body center">
                                    <p class="center col-lg-12">@Model.Exception.Message</p>
                                    @if(isAdmin || isDoctor){
                                        <a href="#errorTrace" class="btn btn-primary" data-toggle="modal">Ver Detalles avanzados de error</a>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                }

                <div class="modal fade dn" id="errorTrace" data-width="760">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title">Detalles de error</h4>
                    </div>
                    <div class="modal-body psBody">
                        <div class="col-lg-12">
                            <p class="justify">
                                @Model.Exception.StackTrace.ToString()
                            </p>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <a href="#" data-dismiss="modal" class="btn btn-default ">@_("lblClose")</a>
                    </div>
                </div>
                <div class="row form-group col-lg-4 pr0">
                    <input type="button" class="btn btnform btn-primary col-lg-5 ml2 " onclick="history.go(-1);" value="@_("lblBack")" />
                </div>
            </fieldset>
        }
    </div>
</div>

