@using SIGEC.Models.ViewModels

@model AuthorizationsRolePartial

@{
    double maxRecords = Model.menus.Count;
    double firstDiv = Math.Round((maxRecords / 3.0));
    int i = (int)firstDiv;
    int lower = Model.menus.FirstOrDefault().Actions.Select(a => a.ID).Min();
}

<div class="panel-group" id="accordion">
    @foreach (SIGEC.Models.Menu item in Model.menus)
    {
        <div class="panel panel-default col-lg-12">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#@item.ID">
                        @(_(item.name))
                    </a>
                </h4>
            </div>
            <div id="@item.ID" class="panel-collapse collapse" >
                <div class="panel-body">
                    @foreach (SIGEC.Models.Action action in item.Actions)
                    {
                        <label class="permissions">
                            <input type="checkbox" name="actions" value="@action.ID" @((Model.SelectedActions.Contains(action.ID) ? "checked" : ""))/>
                            @_(action.name)
                        </label>
                    }
                </div>
            </div>
        </div>
    }
</div>
