@model SIGEC.Models.Procedure

@{
    ViewBag.Title = _("Procedures_Create");
}

<div class="row">
    <div class="col-lg-12">
        <hgroup class="title">
            <h1><img  alt="procedures_picture" src="~/Images/procedures.png" />&nbsp;@ViewBag.Title.</h1>
            <h2></h2>
        </hgroup>
        <div class="well">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)

                <fieldset>
                    <legend>@_("Procedures_CreateLegend")</legend>
                    <div class="row">
                        <div class="form-group col-lg-4">
                            @Html.CLabelFor(m => m.name)
                            @Html.CTextBoxFor(m => m.name)
                            @Html.CValidationMessageFor(m => m.name)
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-4">
                            @Html.CLabelFor(m => m.description)
                            @Html.CTextAreaFor(m => m.description)
                            @Html.CValidationMessageFor(m => m.description)
                        </div>
                    </div>
                    <div class="row form-group col-lg-4 pr0">
                        <input type="submit" class="btn btn-primary btnform col-lg-5 ml2" value="@_("lblSave")" />
                         @Html.ActionLink(_("lblCancel"), "Index", null, new { @class="btn btnform btn-default col-lg-5" })
                    </div>
                </fieldset>
            }
        </div>
    </div>
</div>

@section Scripts {
}
